img.wp-smiley, img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

.wp-block-button__link {
	color: #fff;
	background-color: #32373c;
	border-radius: 9999px;
	box-shadow: none;
	text-decoration: none;
	padding: calc(.667em + 2px)

calc(1.333em + 2px);
}

.wp-block-button__link:hover,
.wp-block-button__link:focus {
background-color: #4b4e52;
}

.wp-block-button__link:active {
box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
}

body {
font-family: ‘Inter’, sans-serif;
color: #32373c;
}

.container {
max-width: 1140px;
margin: 0 auto;
padding: 15px;
}

.site-navbar {
border-bottom: 1px solid #e7e7e7;
}

.site-mobile-menu-close {
float: right;
cursor: pointer;
}

.icon-close2:before {
content: “\2715”;
}


.box-extra {
    width: 46%;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 4rem rgb(0 0 0 / 10%);
    z-index: 4;
    border-radius: 0.4rem;
    position: relative;
    background-color: white;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.boxes-img {
    width: 100% !important;
    width: auto;
    margin-bottom: 1em;
    border-radius: inherit;
}

    .cs-mobile{
      display: none;
    }

@media (max-width: 675px){
  .cs-mobile{display: inline;}
  .cs-desktop{display: none;}
}

@keyframes move {
  50% {
     transform: translate(40px, 40px);
  }
}

.box-extra{
    width: 46%;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 4rem rgba(0, 0, 0, 0.1);
    z-index: 4;
    border-radius: .4rem;
    position: relative;
    background-color: white;

    -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.box-extra:hover, .box-extra:focus, .box-extra:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media(max-width: 600px){
  .box-extra{
    width: 100%;
    margin-top: 2rem;
  }
}

.boxes-img{
  width: 100% !important;
  width: auto;
  margin-bottom: 1em;
  border-radius: inherit;
}

    .cs-mobile{
      display: none;
    }

@media (max-width: 675px){
  .cs-mobile{display: inline;}
  .cs-desktop{display: none;}
}


@media (max-width: 890px){
.head__logo, .head__nav {
    width: 100%;
}}

@media (min-width: 891px){
.head__logo, .head__nav {
    width: 100%;
    text-align: center;
}}

@media (max-width: 890px){
.head{
    position: inherit;
}}

@media (min-width: 891px){
.head{
    background-color: inherit;
    border-radius: 8px;
}}

.gradient-underline {
background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
background-position: 0 100%;
background-size: 100% 2px;
background-repeat: repeat-x;
}

.img-giv{
	border-radius:10px !important;
}

.form-button{
   align-items: center !important;
    background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB) !important;
  border: 0 !important;
  border-radius: 8px !important;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px !important;
  box-sizing: border-box !important;
  color: #FFFFFF !important;
  display: flex !important;
  font-family: Phantomsans, sans-serif !important;
  font-size: 20px !important;
  justify-content: center !important;
  line-height: 1em !important;
  max-width: 100% !important;
  min-width: 140px !important;
  padding: 3px !important;
  text-decoration: none !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  white-space: nowrap !important;
  cursor: pointer !important;
}

.form-buttont:active,
.form-button:hover {
  outline: 0 !important;
}

.form-button span {
  background-color: 0072EF !important;
  padding: 16px 24px !important;
  border-radius: 6px !important;
  width: 100% !important;
  height: 100% !important;
  transition: 300ms !important;
}

.form-button:hover span {
  background: none !important;
}

@media (min-width: 768px) {
  .form-button {
    font-size: 24px !important;
    min-width: 196px !important;
  }
}

.sub-giv{
	font-size: 1.5rem;
}

.sub-giv-celebrate{
	margin-bottom:2rem !important;
}

.head-giv{
	font-size: 4rem;
	font-weight: 500;
}

@media (max-width: 491px){
	.head-giv{
	font-size: 3rem;
	font-weight: 500;
}
}


/* a:link, a:visited {
    color: white !important;
    transition: color 0.3s ease 0s;
}*/

.highlight-yellow {
  border-radius: 0 0 1em 0;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 224, 0, 0.2),
    rgba(255, 224, 0, 0.7) 95%,
    rgba(255, 224, 0, 0.1)
  );
}      

.box-giv-small {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    width: 0px;
}

.giv-boxes .box-same-height{
    padding: 10px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.giv-boxes {
width: 100%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
}

.page-id-1179 .formkit-form{
	 width: 60%;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 4rem rgba(0, 0, 0, 0.1);
    z-index: 4;
    border-radius: .4rem;
    position: relative;
    background-color: white;

    -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.box-extra:hover, .box-extra:focus, .box-extra:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

.main-content ul li {
	margin: 0 !important;
	font-size: 16px;
	line-height: 26px;
}




/* Hubspot form styles */
.hs-field-desc {
    font-size: 18px !important;
    color: #000 !important;
    font-weight: 400 !important;
    margin-bottom: 8px !important;
}

.hs-form-field label {
    font-size: 14px !important;
    color: #333 !important;
    font-weight: 400 !important;
    margin-bottom: 8px !important;
}

.hs-dateinput .hs-input {
    background: #ffffff !important;
    font-size: 15px !important;
    padding: 12px !important;
    border: 1px solid #e3e3e3 !important;
    line-height: 1.4 !important;
    width: 100% !important;
    border-radius: 4px !important;
}

.hs-fieldtype-text .hs-input {
    background: #ffffff !important;
    font-size: 15px !important;
    padding: 12px !important;
    border: 1px solid #e3e3e3 !important;
    line-height: 1.4 !important;
    width: 100% !important;
    border-radius: 4px !important;
}

.hs-fieldtype-textarea .hs-input {
    background: #ffffff !important;
    font-size: 15px !important;
    padding: 12px !important;
    border: 1px solid #e3e3e3 !important;
    line-height: 1.4 !important;
    width: 100% !important;
    border-radius: 4px !important;
    min-height: 150px !important;
}

.hs-fieldtype-select .hs-input {
    background: #ffffff !important;
    font-size: 15px !important;
    padding: 12px !important;
    border: 1px solid #e3e3e3 !important;
    line-height: 1.4 !important;
    width: 100% !important;
    border-radius: 4px !important;
}

.hs-firstname .hs-input {
    background: #ffffff !important;
    font-size: 15px !important;
    padding: 12px !important;
    border: 1px solid #e3e3e3 !important;
    line-height: 1.4 !important;
    width: 100% !important;
    border-radius: 4px !important;
}

.hs-email .hs-input {
    background: #ffffff !important;
    font-size: 15px !important;
    padding: 12px !important;
    border: 1px solid #e3e3e3 !important;
    line-height: 1.4 !important;
    width: 100% !important;
    border-radius: 4px !important;
}

.input::placeholder {
    color: #000 !important;
    font-weight: 400 !important;
}

.legal-consent-container .inputs-list {
    list-style: none !important;
    padding: 0 !important;
}

.legal-consent-container .hs-form-booleancheckbox-display {
    display: flex !important;
    align-items: center !important;
    padding-top: 5px !important;
}

.hs-submit .hs-button {
    width: 100% !important;
    background-color: #3897D3 !important;
    color: #ffffff !important;
    font-size: 15px !important;
    border-radius: 4px !important;
    border: none !important;
    padding: 12px !important;
    transition: background-color 0.3s ease !important;
    text-transform: uppercase !important;
}

.hs-submit .hs-button:hover {
    background-color: #1677be !important;
}

.legal-consent-container p {
    font-size: 14px !important;
    color: #5C5C5C !important;
}

.legal-consent-container .hs-form-booleancheckbox-display>span {
    line-height: 1.3 !important;
    margin-top: 10px !important;
}

.legal-consent-container .hs-form-booleancheckbox-display p {
    margin: 0 !important;
    display: inline !important;
    line-height: 1.3 !important;
}



.gform_button {
	background-color: #3897D3 !important;
	width: 100% !important;
	text-transform: uppercase !important;
	padding: 15px !important;
	transition: background-color 0.3s ease !important;
}

.gform_button:hover {
	background-color: #1677be !important;
}

.gform-theme--foundation .gform_fields {
    grid-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    inline-size: 100%;
	  row-gap: 25px;
}
.gfield p {
	margin: 0px;
	color: #666;
}

.gform-field-label {
	color: #666 !important;
}

.gform-body input[type="text"] {
background: #ffffff !important;
    font-size: 15px !important;
    padding: 24px !important;
    border: 1px solid #e3e3e3 !important;
    line-height: 1.4 !important;
    width: 100% !important;
    border-radius: 4px !important;
	color: #666;
}

.gform-body input[type="email"] {
background: #ffffff !important;
    font-size: 15px !important;
    padding: 24px !important;
    border: 1px solid #e3e3e3 !important;
    line-height: 1.4 !important;
    width: 100% !important;
    border-radius: 4px !important;
	color: #666;
}	
